.contenedor3 {
  background-color: #0e2a47;
  transform: skewY(5deg);
  padding-top: 6px;
  height: 1000px;
  display: flex;
  justify-content: center;
}
.contenedor-textos {
  transform: skewY(-5deg);
  display: flex;
  text-align: center;
  padding-top: 10vh;
}

.habilidades {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.icono-react {
  position: absolute;
  top: 150px;
  right: 620px;
  height: 100px;
  width: 100px;
}

.icono-html {
  position: absolute;
  top: 200px;
  right: 250px;
  height: 100px;
  width: 100px;
}

.icono-js {
  position: absolute;
  top: 200px;
  left: 550px;
  height: 100px;
  width: 100px;
}
.icono-node {
  position: absolute;
  top: 700px;
  left: -50px;
  height: 100px;
  width: 100px;
}

.icono-css {
  position: absolute;
  bottom: 100px;
  right: 760px;
  height: 100px;
  width: 100px;
}
.icono-mongo {
  position: absolute;
  bottom: 70px;
  left: 300px;
  height: 100px;
  width: 100px;
}
.icono-mysql {
  position: absolute;
  bottom: 70px;
  left: 600px;
  height: 100px;
  width: 100px;
}
.icono-redux {
  position: absolute;
  bottom: 670px;
  left: 300px;
  height: 100px;
  width: 100px;
}

.cont-hab-1 {
  position: absolute;
  width: 300px;
  right: 460px;
  bottom: 400px;
  top: 400px;
}

.item {
  width: 100%;
}
.textos-item {
  display: flex;
  justify-content: space-between;
  color: white;
}
.txtprogresbar {
  color: white !important;
}

.cont-hab-2 {
  position: absolute;
  width: 300px;
  left: 400px;
  bottom: 400px;
  top: 400px;
}
