.contenedor3 {
  background-color: #0e2a47;
  transform: skewY(5deg);
  padding-top: 6px;
  height: 1000px;
}
.contenedor3 .contenedor-textos {
  transform: skewY(-5deg);
  display: flex;
  /* background-color: red; */
  position: relative;
  width: 100%;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.habilidades {
  padding-top: 10px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.icono-react {
  position: absolute;
  top: 16%;
  right: 35%;
  height: 100px;
  width: 100px;
}

.icono-html {
  position: absolute;
  top: 20%;
  right: 15%;
  height: 100px;
  width: 100px;
}

.icono-js {
  position: absolute;
  top: 60%;
  right: 10%;
  height: 100px;
  width: 100px;
}
.icono-node {
  position: absolute;
  top: 69%;
  left: 10%;
  height: 100px;
  width: 100px;
}

.icono-css {
  position: absolute;
  bottom: 5%;
  left: 65%;
  height: 100px;
  width: 100px;
}
.icono-mongo {
  position: absolute;
  bottom: 10%;
  left: 30%;
  height: 100px;
  width: 100px;
}
.icono-mysql {
  position: absolute;
  top: 10%;
  right: 60%;
  height: 100px;
  width: 100px;
}
.icono-redux {
  position: absolute;
  top: 30%;
  left: 10%;
  height: 100px;
  width: 100px;
}

.cont-hab-1 {
  position: absolute;
  width: 300px;
  right: 460px;
  bottom: 400px;
  top: 400px;
}

.item {
  width: 100%;
}
.textos-item {
  display: flex;
  justify-content: space-between;
  color: white;
}
.txtprogresbar {
  color: white !important;
}

.cont-hab-2 {
  position: absolute;
  width: 300px;
  left: 400px;
  bottom: 400px;
  top: 400px;
}
