.contenedor-imagen {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-general2 {
  display: flex;

  height: 100vh;
}
.titulo {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
}
.foto-pc {
  height: 100%;
  width: 100%;
}
.contenedor-texto {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 100px;
}
.contenedor-cv {
  background-color: #107da1;
  border-radius: 5px;
  flex-direction: row;
  width: max-content;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.foto {
  height: 25px;
}
.descargar {
  color: white;
}

.texto {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
/* MEDIA QUERIES */
@media only screen and (min-width: 1279px) and (max-width: 1619px) {



}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
}

/* Smartphones in landscape mode */

@media only screen and (min-width: 600px) and (max-width: 959px) {

}

/* Smartphones in portrait mode  */

@media only screen and (max-width: 599px) {

}