.contenedor6 {
  height: 100px;
}
.cont-footer {
  height: 100px;
 display: flex;
 flex-direction: column;
 justify-content: center;

}
.img-footer {
  height: 250px;
  width: 100%;
}
.icon-footer{
  height: 50px;
  width: 50px;
  position: absolute;
  left:55%
 
}
.icon-footer1{
  height: 50px;
  width: 50px;
  position: absolute;
 left:50%;

}
.icon-footer2{
  height: 50px;
  width: 50px;
  position: absolute;
  left:45%
 
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1279px) and (max-width: 1619px) {
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
}

/* Smartphones in landscape mode */

@media only screen and (min-width: 600px) and (max-width: 959px) {

}

/* Smartphones in portrait mode  */

@media only screen and (max-width: 599px) {

}