@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
p {
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --white: #ffffff;
}
/* MEDIA QUERIES */
@media only screen and (min-width: 1279px) and (max-width: 1619px) {
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
}

/* Smartphones in landscape mode */

@media only screen and (min-width: 600px) and (max-width: 959px) {

}

/* Smartphones in portrait mode  */

@media only screen and (max-width: 599px) {

}